
<!doctype html><html lang="es"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>Audio 8-bit</title><link rel="stylesheet" href="../statics/styles.css"></head>
<body><header><h1>Audio 8-bit</h1><p>Usuario: <span class="usuarioActual">—</span></p></header>
<div class="container">
<audio controls src='https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3'></audio>
<audio controls src='https://samplelib.com/lib/preview/mp3/sample-3s.mp3'></audio>
<audio controls src='https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3'></audio>
</div>
<footer>© Eduardo Aranda – 25/11/2025</footer>
<script src="../js/script_bienvenida.js"></script></body></html>
